<%- include("./partials/header") %>

<div class="container">
    <h1>Tough times, aren't these?</h1>
    <h2>But you've got to do something productive</h2>
    <h2>Need Motivation?</h2>
    <div>
        In these trying times, while we all are stuck at home, it is not uncommon that we spend all our time sleeping on the couch or binge watching series all night long. But, it is necessary that we utilise some of this time doing something productive. So, for your motivation to so some productive work, check out the things others are doing that might make you feel inspired and charged. After all, nothing's a better inspiration to work than feeling left behind!
        <br><br>
        <a href="/posts">Click Here</a> to see.
    </div>
</div>

<%- include("./partials/footer") %>