<%- include("./partials/header") %> 

<div class="container">
    <h2>Share Something Productive That You Did During the Lockdown</h2>
    <form action="/posts" method="POST">
        <input type="text" placeholder="Title" name="posts[title]">
        <input type="text" placeholder="Your Name" name="posts[author]">
        <textarea name="posts[content]" placeholder="Content goes here"></textarea>
        <button>Submit</button>
    </form>
</div>

<%- include("./partials/footer") %>